.header{
    background-color: rgb(244, 132, 164);


}
.cuerpo{
    margin: 0;
    background-color: tomato;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;


}
.texto{
margin-top: 50px;
margin-bottom: 50px;

}

.logo{
    width: 150px;
    
}
.nav-link{
    font-size: 30px;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    height: 300px;
}



.piedepagina{
background-color: lightcoral;
padding: 1em;
text-align: center;
text-decoration: none;
height: auto;


}
.nosotros{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.video{
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
}
