.piedepagina{
            background-color: lightcoral;
             color: $color-principal;
           padding: 1em;
            text-align: center;
            height: auto;

}

.ancord{
            text-decoration: none;

}


