*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video{
    @extend %video; 
 }
 
 .inicio{
    font-family: 'Spline Sans Mono', monospace;
    text-align: center;
    font-size: 18px;
 }

 #titulo{
    font-family: 'Spline Sans Mono', monospace;
    text-align: center;
    font-size: 25px;
 }