.texto{
    font-family: "Spline Sans Mono", monospace;
    font-size: larger;
    color: white;
    text-align: justify;

}

.nosotros{
    text-align: center;
    font-family: "Spline Sans Mono", monospace;
}