.texto{
    font-family: "Spline Sans Mono", monospace;
    font-size: 18px;
    color: white;
    text-align: justify;
    padding: 20px;
}

.nosotros{
    text-align: center;
    font-family: "Spline Sans Mono", monospace;
    margin: 10px;
}